Repository ResidencyWorks2/InterviewApp: changes, and which lefthook commands are due for each by the changed paths.
All: check, typecheck

check:
  run: pnpm biome check --write --diagnostic-level error {staged_files}
  stage_fixed: true
  fail_text: ❌ Linting failed. Please fix the issues above.
  pass_text: ✅ Linting passed

typecheck:
  run: pnpm tsc --noEmit --project tsconfig.json
  fail_text: ❌ Type checking failed. Please fix the type errors above.
  pass_text: ✅ Type checking passed

Update feature statuses in signoff.md to indicate completion of testing for various components
  signoff.md
Due: none

Add specifications, analysis, and implementation plan for Confidence Cues & Analytics Events feature
  specs/001-confidence-cues-analytics/ANALYSIS.md
  specs/001-confidence-cues-analytics/checklists/requirements.md
  specs/001-confidence-cues-analytics/contracts/analytics-events.md
  specs/001-confidence-cues-analytics/data-model.md
  specs/001-confidence-cues-analytics/plan.md
  specs/001-confidence-cues-analytics/quickstart.md
  specs/001-confidence-cues-analytics/research.md
  specs/001-confidence-cues-analytics/spec.md
  specs/001-confidence-cues-analytics/tasks.md
Due: none

Complete implementation of analytics tracking and privacy components for User Stories 1 and 2
  specs/001-confidence-cues-analytics/tasks.md
  src/app/(dashboard)/drill/[id]/page.tsx
  src/app/(dashboard)/drill/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/privacy/page.tsx
  src/components/privacy/PrivacyCopy.tsx
  src/components/privacy/PrivacyDataBadge.tsx
  src/features/notifications/application/analytics.ts
  tests/unit/components/privacy/PrivacyCopy.test.tsx
  tests/unit/components/privacy/PrivacyDataBadge.test.tsx
Due: check, typecheck

Implement analytics tracking for checklist and privacy components in User Stories 3 and 4
  specs/001-confidence-cues-analytics/tasks.md
  src/app/(dashboard)/drill/[id]/page.tsx
  src/components/drill/ChecklistModal.tsx
  src/components/privacy/PrivacyDataBadge.tsx
Due: check, typecheck

Enhance privacy and analytics tracking in README and tests
  README.md
  specs/001-confidence-cues-analytics/tasks.md
  tests/e2e/confidence-cues/analytics-events.spec.ts
  tests/e2e/confidence-cues/privacy-indicators.spec.ts
  tests/integration/analytics/checklist-tracking.test.ts
  tests/integration/analytics/graceful-degradation.test.ts
  tests/integration/analytics/pii-validation.test.ts
  tests/integration/analytics/privacy-badge-tracking.test.ts
  tests/integration/analytics/specialty-tracking.test.ts
  tests/unit/checklist/ChecklistModal.test.tsx
  tests/unit/components/privacy/PrivacyDataBadge.test.tsx
  tests/unit/features/notifications/analytics-events.test.ts
Due: check, typecheck

Update TypeScript environment and enhance ChecklistModal tests
  next-env.d.ts
  tests/unit/checklist/ChecklistModal.test.tsx
Due: check, typecheck

Enhance authentication flow and logging in proxy and callback handlers
  .github/agents/speckit.tasks.agent.md
  docs/troubleshooting/deprecation-warnings.md
  proxy.ts
  src/app/auth/callback/route.ts
  src/components/drill/ChecklistModal.tsx
  src/infrastructure/bullmq/worker.ts
Due: check, typecheck

Refactor CompleteProfilePage and DashboardPage for improved profile handling
  proxy.ts
  src/app/(dashboard)/complete-profile/page.tsx
  src/app/(dashboard)/dashboard/page.tsx
  src/app/(dashboard)/profile/page.tsx
  src/components/auth/CompleteProfileForm.tsx
  src/components/auth/CompleteProfileModal.tsx
  src/features/auth/application/services/auth-service.ts
  src/hooks/useAuth.ts
  tailwind.config.js
Due: check, typecheck

Update privacy components and testing documentation in signoff.md
  next-env.d.ts
  signoff.md
Due: check, typecheck

Update deployment configurations and dependencies for Railway compatibility
  Dockerfile
  Dockerfile.cron
  Dockerfile.worker
  README.md
  docs/WORKER_DEPLOYMENT.md
  docs/deployment/RAILWAY_MIGRATION.md
  docs/deployment/README.md
  instrumentation-client.ts
  next.config.js
  package.json
  railway.cron.json
  railway/cron-cleanup.sh
  sentry.edge.config.ts
  src/app/api/auth/route.ts
  src/features/auth/application/services/auth-service.ts
  src/hooks/useAuth.ts
  src/infrastructure/bullmq/worker.ts
  src/infrastructure/config/environment.ts
Due: check, typecheck

Update package dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: check

Update Dockerfile configurations for dependency installation
  Dockerfile
  Dockerfile.worker
Due: none

Add git installation to Dockerfiles and update VSCode settings path
  .vscode/settings.json
  Dockerfile
  Dockerfile.worker
Due: check

Update prepare script in package.json to handle non-git environments gracefully
  package.json
Due: check

Update TypeScript configuration for worker environment
  tsconfig.worker.json
Due: check

Refactor Dockerfile.worker and update build script in package.json
  Dockerfile.worker
  package.json
  scripts/build-worker.mjs
Due: check

Add esbuild dependency and update TypeScript worker configuration
  package.json
  pnpm-lock.yaml
  scripts/build-worker.mjs
  tsconfig.worker.json
Due: check

Update worker configurations and TypeScript module settings
  railway.json
  tsconfig.worker.json
Due: check

Enhance environment variable handling for local and production setups
  src/infrastructure/config/environment.ts
Due: check, typecheck

Refactor environment variable handling and update documentation
  src/infrastructure/config/environment.ts
Due: check, typecheck

Add Railway CLI support and enhance Redis connection handling
  .cursor/mcp.json
  docs/deployment/RAILWAY_DEBUG.md
  package.json
  pnpm-lock.yaml
  src/infrastructure/bullmq/queue.ts
Due: check, typecheck

Refactor Redis connection handling and update deployment configurations
  docs/deployment/RAILWAY_DEBUG.md
  package.json
  railway.json
  src/infrastructure/bullmq/queue.ts
  src/infrastructure/config/environment.ts
Due: check, typecheck

Refactor worker entry point and update build configurations
  railway.json
  scripts/build-worker.mjs
  src/infrastructure/bullmq/worker-entrypoint.ts
  tsconfig.worker.json
Due: check, typecheck

Enhance environment variable logging and validation in worker entry point
  src/infrastructure/bullmq/worker-entrypoint.ts
  src/infrastructure/config/environment.ts
Due: check, typecheck

Update Railway migration documentation for improved clarity and steps
  docs/deployment/RAILWAY_MIGRATION.md
  railway.app.json
Due: check

Remove Dockerfile and update railway.app.json to reference Dockerfile.app for build configuration
  Dockerfile.app
  railway.app.json
Due: check

Refactor build and start commands in package.json
  package.json
Due: check

Enhance MCP configuration and documentation for improved workflow
  .cursor/commands/fix-all.md
  .cursor/commands/fix.md
  .cursor/commands/go-speckit.md
  .cursor/commands/go.md
  .cursor/commands/login.md
  .cursor/mcp.json
  .cursor/rules/mcp-global.mdc
Due: check

Add Dockerfiles and Railway configuration for deployment
  .vscode/settings.json
  Dockerfile.app
  Dockerfile.cron
  Dockerfile.worker
  README.md
  docs/WORKER_DEPLOYMENT.md
  docs/deployment/RAILWAY_MIGRATION.md
  docs/deployment/README.md
  instrumentation-client.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  railway.app.json
  railway.cron.json
  railway/cron-cleanup.sh
  scripts/build-worker.mjs
  sentry.edge.config.ts
  src/app/api/auth/route.ts
  src/app/api/recordings/[recordingId]/signed-url/route.ts
  src/features/auth/application/services/auth-service.ts
  src/features/booking/infrastructure/storage/lifecycle.ts
  src/features/booking/infrastructure/storage/supabase-storage.ts
  src/hooks/useAuth.ts
  src/infrastructure/bullmq/queue.ts
  src/infrastructure/bullmq/worker-entrypoint.ts
  src/infrastructure/bullmq/worker.ts
  src/infrastructure/config/clients.ts
  src/infrastructure/config/environment.ts
  src/infrastructure/db/database-service.ts
  src/infrastructure/supabase/client.ts
  src/infrastructure/supabase/proxy.ts
  tsconfig.worker.json
Due: check, typecheck

Implement lazy initialization for OpenAI client to prevent build-time errors
  src/features/scheduling/infrastructure/openai/openai-evaluation-service.ts
Due: check, typecheck

Update Dockerfile for cron service to set executable permissions during copy
  Dockerfile.cron
Due: none

Refactor PostHogProvider and AnalyticsService for improved key validation
  src/components/PostHogProvider.tsx
  src/features/notifications/application/analytics.ts
  src/infrastructure/supabase/client.ts
Due: check, typecheck

Refactor PostHogProvider for enhanced API key validation
  src/components/PostHogProvider.tsx
Due: check, typecheck

Update Dockerfile to accept build arguments for NEXT_PUBLIC_* environment variables
  Dockerfile.app
Due: none

Enhance Redis connection handling and PostHogProvider validation
  src/components/PostHogProvider.tsx
  src/infrastructure/bullmq/queue.ts
  src/infrastructure/bullmq/worker.ts
  src/infrastructure/supabase/client.ts
Due: check, typecheck

Refactor authentication handling to utilize getAppUrl for environment-specific URLs
  src/app/api/auth/route.ts
  src/features/auth/application/auth-helpers.ts
  src/features/auth/application/services/auth-service.ts
  src/features/notifications/application/analytics.ts
  src/hooks/useAuth.ts
  src/infrastructure/config/environment.ts
Due: check, typecheck

Update package.json
  package.json
Due: check

Update stripe-webhook.ts
  src/features/billing/application/stripe-webhook.ts
Due: check, typecheck

Path conditions:
  check: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
